<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>KO Performance Cars GmbH</title>

	<meta name="robots" content="index,follow">
	<meta name="description" content="KO Performance Cars GmbH, Ihrer exklusiven Adresse für Sportwagenvermietung in Köln.">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" href="css?family=Lato:300,400,700,900%7CPlayfair+Display">
	<link rel="stylesheet" href="assets/css/795c0869d100.css">
	<script src="jquery-1.11.3.min.js"></script>
	<script src="assets/js/f06995bedb9e.js"></script>
	<link rel="canonical" href="index.htm">
	<meta name="facebook-domain-verification" content="ahkkotc3jp37hn0832zp8fz90nc255">
	<link rel="shortcut icon" type="image/x-icon" href="files/koperformance/favicon.png">
	<link rel="apple-touch-icon" href="files/koperformance/favicon.png">
	<!-- Start Cookie Plugin -->
	<link rel="stylesheet" type="text/css" href="ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
	<script src="ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" defer=""></script>
	<script>
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "rgba(0,0,0,0.8);",
						"text": "#ffffff"
					},
					"button": {
						"background": "transparent",
						"text": "#ffffff",
						"border": "#ffffff"
					}
				},
				"position": "bottom-left",
				"content": {
					"message": "Diamond Cars nutzt Cookies, um Ihnen den bestmöglichen Service bieten zu können. Durch die weitere Nutzung dieser Website erklären Sie sich damit einverstanden, dass Diamond Cars Cookies auf Ihrem Computer verwendet.",
					"dismiss": "WEITER",
					"link": "Mehr erfahren",
					"href": "https://www.dc-rent.de/datenschutz"
				}
			})});
	</script>
	<!-- Ende Cookie Plugin -->
	<!-- Font Awesome -->
	<script src="6082e5ce4e.js"></script>
	<!-- Axios -->
	<script src="axios%401.6.8/dist/axios.min.js" defer=""></script>
	<!-- datepicker -->
	<script src="files/koperformance/js/datedropper.js"></script>
	<script src="files/koperformance/js/datedropper-lang-DE.js"></script>
	<link rel="stylesheet" href="files/koperformance/js/datedropper.css">
	<!-- timepicker -->
	<link rel="stylesheet" href="ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
	<script src="ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
	<!-- Bookingtool -->
	<script src="reservation/prices.js?v=1.5" defer=""></script>
	<script src="reservation/settings.js?v=2.1" defer=""></script>
	<!-- maps API -->
	<script defer="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG44xDE8UhEz1UYzQQ7-6sDV1FODOs3dY&libraries=places"></script>
	<!-- VUE -->
	<script src="npm/vue/dist/vue.min.js" defer=""></script>
</head>
<body id="top" class="unknown other ">
<div id="wrapper">
	<header id="header">
		<div class="inside">
			<div id="header-block">
				<div class="inside">
					<div id="logo"><a href="index.htm"><img src="files/koperformance/images/logo_v2_black.jpg" width="270" alt="KO Performance Cars GmbH"></a></div>
					<div id="mobile-menu-button">
						<i class="fa fa-bars"></i>
					</div>
					<!-- indexer::stop -->
					<nav class="mod_navigation block">
						<a href="#skipNavigation4" class="invisible">Navigation überspringen</a>
						<ul class="level_1">
							<li class="active first"><span class="active first">Home</span></li>
							<li class="sibling"><a href="fahrzeuge.html" title="Fahrzeuge" class="sibling">Fahrzeuge</a></li>
							<li class="sibling"><a href="langzeitmiete.html" title="Langzeitmiete" class="sibling">Langzeitmiete</a></li>
							<li class="sibling last"><a href="kontakt.html" title="Kontakt" class="sibling last">Kontakt</a></li>
						</ul>
						<a id="skipNavigation4" class="invisible">&nbsp;</a>
					</nav>
					<!-- indexer::continue -->
				</div>
			</div>
			<div id="booking-form">
				<div id="activatejs" class="activatejs">
					<p>Bitte aktivieren Sie JavaScript in ihrem Browser, andernfalls funktioniert diese Anwendung nicht.</p>
				</div>
				<div id="rental-data">
					<div id="col-station">
						<div class="input-field">
							<!-- VUE INSTANCE -->
							<div id="vueInstance">
								<div id="predicted-places"></div>
								<template>
									<i class="fa fa-map-marker input-icon"></i>
									<input id="rental-station" type="text" v-model="stationInput" @input="onChange" placeholder="Suchen ...">
									<label>Mietstation</label>
									<ul v-show="isOpen" class="jk-autocomplete-results">
										<li class="current-auto-complete">
											<span class="jk-autocomplete-keyword">Suche: [[this.currentAutoGeoCompletion]]</span>
											<p class="jk-autocomplete-results-hint">Mietstationen</p>
										</li>
										<li v-for="(item, i) in autocompleteSource" :key="i" @click="setResult(item.value)" class="jk-autocomplete-result">
											<b>[[item.value]] ([[item.distance]] km) <sup>+ [[item.surcharge]] EUR</sup></b>
											<div class="result-address" style="font-size:12px;">
												[[item.street]], [[item.postal]] [[item.value]]
											</div>
										</li>
										<li class="loadingspinner">
											<div class="lds-spinner">
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
											</div>
										</li>
									</ul>
								</template>
							</div>
						</div>
					</div>
					<div class="col-date">
						<div class="input-field date">
							<i class="fa fa-calendar input-icon"></i>
							<input type="text" id="rental-start-date" autocomplete="off" readonly="" class="airpicker" placeholder="Beginn">
							<label>Mietbeginn</label>
						</div>
						<div class="input-field time">
							<i class="fa fa-clock-o input-icon"></i>
							<input type="text" id="rental-start-time" autocomplete="off" class="timepicker" readonly="">
							<label>Uhrzeit</label>
						</div>
					</div>
					<div class="col-date">
						<div class="input-field date">
							<i class="fa fa-calendar input-icon"></i>
							<input type="text" id="rental-end-date" autocomplete="off" readonly="" class="airpicker" placeholder="Ende">
							<label>Mietende</label>
						</div>
						<div class="input-field time">
							<i class="fa fa-clock-o input-icon"></i>
							<input type="text" id="rental-end-time" autocomplete="off" class="timepicker" readonly="">
							<label>Uhrzeit</label>
						</div>
					</div>
					<div id="col-send">
						<a id="btn-first" class="button fullwidth disabled">
							<div class="hide-on-tablet show-on-mobile">AUTOS ANZEIGEN</div>
							<div class="arrow white right hide-on-full hide-on-mobile"></div>
						</a>
					</div>
					<div id="costs-div"></div>
				</div>
			</div>
		</div>
	</header>
	<div id="container">
		<div id="main">
			<div class="inside">
				<div class="mod_article first last block" id="startseite">
					<div class="text-section">
						<h2 class="center">KO Performance Cars GmbH</h2>
						<p>
							Die <a href="index.htm" title="KO Performance Cars GmbH">KO Performance Cars GmbH </a> ist ein Vorreiter in der Welt der Hochleistungsfahrzeuge. Mit einer herausragenden Flotte bieten wir ein unvergleichliches Erlebnis für alle Liebhaber von Sportwagen. Unser Hauptaugenmerk liegt auf dem einwandfreien Zustand unserer Fahrzeuge und der Aktualität unserer Auswahl. Bei uns kannst du auf erstklassigen Service und einen reibungslosen Vermietungsprozess vertrauen. Unsere engagierten Mitarbeiter setzen sich voll und ganz dafür ein, alle deine individuellen Anforderungen zu erfüllen.

							Ob Fahrzeuge von BMW, Audi, Mercedes, Lamborghini, Ferrari oder anderen renommierten Marken - bei KO Performance Cars findest du eine umfassende Auswahl an Sportwagen, die ihresgleichen sucht. Um unseren Anspruch, die Nummer 1 zu sein, weiter auszubauen, haben wir ein innovatives Franchise-System entwickelt, das es uns ermöglicht, in naher Zukunft weitere Standorte in Deutschland und Österreich zu eröffnen. Wir streben danach, unseren Kunden stets das Beste zu bieten und ihre Erwartungen zu übertreffen.
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="flex-container">
					<div class="cars-item w50">
						<a href="porsche-gt3-mieten.html"></a>
						<div class="cars-image" style="background-image:url(koperformance/images/m8.png);">
						</div>
						<div class="cars-text">
							<h2>Porsche 911 GT3</h2>
							6-Zylinder Motor
							<p>
								<b>500 PS | 0-100 in 3,4 sek</b>
							</p>
							<p>
							<div class="button"><a href="porsche-gt3-mieten.html">JETZT MIETEN</a></div>
						</div>
					</div>
					<div class="cars-item w50">
						<a href="porsche-gt3-mieten.html"></a>
						<div class="cars-image" style="background-image:url(koperformance/images/m8.png);">
						</div>
						<div class="cars-text">
							<h2>Porsche 911 GT3</h2>
							6-Zylinder Motor
							<p>
								<b>500 PS | 0-100 in 3,4 sek</b>
							</p>
							<p>
							<div class="button"><a href="porsche-gt3-mieten.html">JETZT MIETEN</a></div>
						</div>
					</div>
				</div>
				&nbsp;
				<div class="flex-container">
					<div class="cars-item w50">
						<a href="porsche-mieten.html"></a>
						<div class="cars-image" style="background-image:url(koperformance/images/m8.png);">
						</div>
						<div class="cars-text">
							<h2>Porsche 911 GT3</h2>
							6-Zylinder Motor
							<p>
								<b>500 PS | 0-100 in 3,4 sek</b>
							</p>
							<p>
							<div class="button"><a href="porsche-gt3-mieten.html">JETZT MIETEN</a></div>
						</div>
					</div>
					<div class="cars-item w50">
						<a href="amg-mieten.html"></a>
						<div class="cars-image" style="background-image:url(koperformance/images/m8.png);">
						</div>
						<div class="cars-text">
							<h2>Porsche 911 GT3</h2>
							6-Zylinder Motor
							<p>
								<b>500 PS | 0-100 in 3,4 sek</b>
							</p>
							<p>
							<div class="button"><a href="porsche-gt3-mieten.html">JETZT MIETEN</a></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="text-section">
				<p>
					Die <a href="index.htm" title="KO Performance Cars GmbH">KO Performance Cars GmbH </a> ist ein Vorreiter in der Welt der Hochleistungsfahrzeuge. Mit einer herausragenden Flotte bieten wir ein unvergleichliches Erlebnis für alle Liebhaber von Sportwagen. Unser Hauptaugenmerk liegt auf dem einwandfreien Zustand unserer Fahrzeuge und der Aktualität unserer Auswahl. Bei uns kannst du auf erstklassigen Service und einen reibungslosen Vermietungsprozess vertrauen. Unsere engagierten Mitarbeiter setzen sich voll und ganz dafür ein, alle deine individuellen Anforderungen zu erfüllen.

					Ob Fahrzeuge von BMW, Audi, Mercedes, Lamborghini, Ferrari oder anderen renommierten Marken - bei KO Performance Cars findest du eine umfassende Auswahl an Sportwagen, die ihresgleichen sucht. Um unseren Anspruch, die Nummer 1 zu sein, weiter auszubauen, haben wir ein innovatives Franchise-System entwickelt, das es uns ermöglicht, in naher Zukunft weitere Standorte in Deutschland und Österreich zu eröffnen. Wir streben danach, unseren Kunden stets das Beste zu bieten und ihre Erwartungen zu übertreffen.
				</p>
			</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="inside">
			<div class="flex-container">
				<div class="cl3">
					<p style="margin-bottom:30px;"><img src="files/koperformance/images/logo_v1_ko.jpg" style="width:75%;"></p>
					KO Performance Cars GmbH » 2024

					<div class="pe-richsnippets"></div>

				</div>

				<div class="cl3">
					<h3>ÜBERSICHT</h3>
					<ul>
						<li><a href="index.htm">Home</a></li>
						<li><a href="fahrzeuge.html">Fahrzeuge</a></li>
						<li><a href="datenschutz.html">Langzeitmiete</a></li>
						<li><a href="kontakt.html">Kontakt</a></li>
					</ul>
				</div>
				<div class="cl3">
					<h3>RECHTLICHES</h3>
					<ul>
						<li><a href="kontakt.html">Kontaktformular</a></li>
						<li><a href="mietinformationen.html">Mietinformationen</a></li>
						<li><a href="datenschutz.html">Datenschutz</a></li>
						<li><a href="impressum.html">Impressum</a></li>
					</ul>
				</div>
				<div class="c13">
					<h3>KONTAKT</h3>
					<p>
						<a href="tel:+4912345678910" onclick="gtag('event', 'call');fbq('track', 'Contact');"><i class="fa fa-phone"></i> +49 (0)1234 56 78 910</a>
					</p>
					<p>
						<a href="https://wa.me/4912345678910"><i class="fa fa-whatsapp"></i> +49 (0)1234 56 78 910</a>
					</p>
					<p><a href="mailto:info@koperformancecarsgmbh.de"><i class="fa fa-envelope"></i> info@koperformancecarsgmbh.de</a></p>
				</div>
			</div>
		</div>
	</footer>
	</div>
<script src="files/koperformance/functions.js?v=2" defer=""></script>
<script>
	const elem = document.getElementById('activatejs');
	elem.style.display = 'none';
	$('#mobile-menu-button').click(function(){$('nav').slideToggle(200)})
</script>
</body>
</html>