<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Langzeitmiete » KO Performance Cars GmbH</title>
	<meta name="robots" content="index,follow">
	<meta name="description" content="Entdecken Sie bei KO Performance Cars GmbH eine erlesene Auswahl an erstklassigen Sportwagen für langfristige Mietoptionen und ein unvergleichliches Fahrerlebnis.">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" href="css-1?family=Lato:300,400,700,900%7CRoboto+Slab">
	<link rel="stylesheet" href="assets/css/f15428cc148c.css">
	<script src="assets/js/ba8e21e4e69f.js"></script>
	<link rel="canonical" href="langzeitmiete.html">
	<meta name="facebook-domain-verification" content="ahkkotc3jp37hn0832zp8fz90nc255">
	<link rel="shortcut icon" type="image/x-icon" href="files/dcrent/favicon.png">
	<link rel="apple-touch-icon" href="files/dcrent/favicon.png">
	<meta property="og:image" content="https://www.dc-rent.de/files/dcrent/images/lamborghini-mieten.jpg">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="gtag/js?id=UA-39893711-17"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-39893711-17'); // Google Analytics
		gtag('config', 'AW-923435609'); // Google Ads
	</script>
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '479157975568412');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="tr?id=479157975568412&ev=PageView&noscript=1"></noscript>
	<!-- Start Cookie Plugin -->
	<link rel="stylesheet" type="text/css" href="ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
	<script src="ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" defer=""></script>
	<script>
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "rgba(0,0,0,0.8);",
						"text": "#ffffff"
					},
					"button": {
						"background": "transparent",
						"text": "#ffffff",
						"border": "#ffffff"
					}
				},
				"position": "bottom-left",
				"content": {
					"message": "Diamond Cars nutzt Cookies, um Ihnen den bestmöglichen Service bieten zu können. Durch die weitere Nutzung dieser Website erklären Sie sich damit einverstanden, dass Diamond Cars Cookies auf Ihrem Computer verwendet.",
					"dismiss": "WEITER",
					"link": "Mehr erfahren",
					"href": "https://www.dc-rent.de/datenschutz"
				}
			})});
	</script>
	<!-- Font Awesome -->
	<script src="6082e5ce4e.js"></script>
	<!-- Axios -->
	<script src="axios%401.6.8/dist/axios.min.js" defer=""></script>
	<!-- Bookingtool -->
	<script src="reservation/prices.js?v=1.5" defer=""></script>
	<script src="reservation/settings.js?v=2.1" defer=""></script>
	<!-- datepicker -->
	<script src="files/dcrent/js/datedropper.js"></script>
	<script src="files/dcrent/js/datedropper-lang-DE.js"></script>
	<link rel="stylesheet" href="files/dcrent/js/datedropper.css">
	<!-- timepicker -->
	<link rel="stylesheet" href="ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
	<script src="ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
	<!-- Google Maps -->
	<script defer="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG44xDE8UhEz1UYzQQ7-6sDV1FODOs3dY&libraries=places"></script>
	<!-- VUE -->
	<script src="npm/vue/dist/vue.min.js" defer=""></script>
	<!--[if lt IE 9]><script src="assets/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body id="top" class="unknown other ">
<div id="wrapper">
	<header id="header">
		<div class="inside">

			<div id="header-block">
				<div class="inside">
					<div id="logo"><a href="index.htm"><img src="files/dcrent/images/logo_v2_black.jpg" width="270" alt="KO Performance Cars GmbH"></a></div>
					<div id="mobile-menu-button">
						<i class="fa fa-bars"></i>
					</div>
					<!-- indexer::stop -->
					<nav class="mod_navigation block">
						<a href="langzeitmiete.html#skipNavigation4" class="invisible">Navigation überspringen</a>
						<ul class="level_1">
							<li class="sibling first"><a href="index.htm" title="KO Performance Cars GmbH" class="sibling first">Home</a></li>
							<li class="sibling"><a href="fahrzeuge.html" title="Fahrzeuge" class="sibling">Fahrzeuge</a></li>
							<li class="active"><span class="active">Langzeitmiete</span></li>
							<li class="sibling last"><a href="kontakt.html" title="Kontaktformular" class="sibling last">Kontakt</a></li>
						</ul>
						<a id="skipNavigation4" class="invisible">&nbsp;</a>
					</nav>
					<!-- indexer::continue -->
				</div>
			</div>
			<div id="booking-form"></div>
			<div id="activatejs" class="activatejs">
				<p>Bitte aktivieren Sie JavaScript in ihrem Browser, andernfalls funktioniert diese Anwendung nicht.</p>
			</div>
			<div id="rental-data">
				<div id="col-station">
					<div class="input-field">
						<!-- VUE INSTANCE -->
						<div id="vueInstance">
							<div id="predicted-places"></div>
							<template>
								<i class="fa fa-map-marker input-icon"></i>
								<input id="rental-station" type="text" v-model="stationInput" @input="onChange" placeholder="Ort, Stadt etc.">
								<label>Ort eingeben</label>
								<ul v-show="isOpen" class="jk-autocomplete-results">
									<li class="current-auto-complete">
										<span class="jk-autocomplete-keyword">Suche: [[this.currentAutoGeoCompletion]]</span>
										<p class="jk-autocomplete-results-hint">Ihre nächstgelegenen Mietstationen</p>
									</li>
									<li v-for="(item, i) in autocompleteSource" :key="i" @click="setResult(item.value)" class="jk-autocomplete-result">
										<b>[[item.value]] ([[item.distance]] km) <sup>+ [[item.surcharge]] EUR</sup></b>
										<div class="result-address" style="font-size:12px;">
											[[item.street]], [[item.postal]] [[item.value]]
										</div>
									</li>
									<li class="loadingspinner">
										<div class="lds-spinner">
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
										</div>
									</li>
								</ul>
							</template>
						</div>
					</div>
				</div>
				<div class="col-date">
					<div class="input-field date">
						<i class="fa fa-calendar input-icon"></i>
						<input type="text" id="rental-start-date" autocomplete="off" readonly="" class="airpicker" placeholder="Beginn">
						<label>Mietbeginn</label>
					</div>
					<div class="input-field time">
						<i class="fa fa-clock-o input-icon"></i>
						<input type="text" id="rental-start-time" autocomplete="off" class="timepicker" readonly="">
						<label>Uhrzeit</label>
					</div>
				</div>
				<div class="col-date">
					<div class="input-field date">
						<i class="fa fa-calendar input-icon"></i>
						<input type="text" id="rental-end-date" autocomplete="off" readonly="" class="airpicker" placeholder="Ende">
						<label>Mietende</label>
					</div>
					<div class="input-field time">
						<i class="fa fa-clock-o input-icon"></i>
						<input type="text" id="rental-end-time" autocomplete="off" class="timepicker" readonly="">
						<label>Uhrzeit</label>
					</div>
				</div>
				<div id="col-send">
					<a id="btn-first" class="button fullwidth disabled">
						<div class="hide-on-tablet show-on-mobile">AUTOS ZEIGEN</div>
						<div class="arrow white right hide-on-full hide-on-mobile"></div>
					</a>
				</div>
				<div id="costs-div"></div>
			</div>
		</div>
	</header>
	<div id="container">
		<div id="main">
			<div class="inside">
				<div class="mod_article first last block" id="sportwagen-monatsmiete">
					<h1 class="ce_headline first">
						Sportwagen Monatsmieten
					</h1>
					<div class="center">
						<div class="longterm-container">
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png) center center"></div>
								<div class="data">
									<h2>AUTOMARKE 1</h2>
									<div class="details">620 PS | 0-100 in 3,1 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>5.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>6.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>7.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>10.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>2,50 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 2</h2>
									<div class="details">605 PS | 0-100 in 3,7 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>-</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>6.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>7.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>5.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>2,50 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 3</h2>
									<div class="details">625 PS | 0-100 in 3,2 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>-</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>5.250 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>6.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>5.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>2,00 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 4</h2>
									<div class="details">670 PS | 0-100 in 3,0 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>10.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>12.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>14.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>10.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>5,00 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 5</h2>
									<div class="details">450 PS | 0-100 in 4,8 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>-</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>3.750 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>4.250 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>5.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>1,50 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 6</h2>
									<div class="details">610 PS | 0-100 in 3,2 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>10.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>12.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>14.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>10.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>5,00 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 7</h2>
									<div class="details">476 PS | 0-100 in 3,8 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>-</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>3.750 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>4.250 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>5.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>1,50 EUR</h4>
									</div>
								</div>
							</div>
							<div class="car">
								<div class="image" style="background:url(files/dcrent/images/m8.png)"></div>
								<div class="data">
									<h2>AUTOMARKE 8</h2>
									<div class="details">571 PS | 0-100 in 5,4 sek</div>
									<div class="rate">
										<h4>2.000 km</h4>
										<div class="dotted-line"></div>
										<h4>-</h4>
									</div>
									<div class="rate">
										<h4>2.500 km</h4>
										<div class="dotted-line"></div>
										<h4>6.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>3.000 km</h4>
										<div class="dotted-line"></div>
										<h4>7.500 EUR</h4>
									</div>
									<div class="rate">
										<h4>Kaution</h4>
										<div class="dotted-line"></div>
										<h4>5.000 EUR</h4>
									</div>
									<div class="rate">
										<h4>Mehrkilometer</h4>
										<div class="dotted-line"></div>
										<h4>2,50 EUR</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ce_text block">
						<h2 style="text-align: left;">Langzeitmiete für Sport- und Standard-PKWs: Unbegrenzter Fahrspaß</h2>
						<p>Erlebe den Fahrspaß der Luxusklasse über einen längeren Zeitraum! Mit unserer Sportwagen Langzeitmiete kannst du deinen Traumwagen nicht nur für einen Tag oder eine Woche, sondern viel länger genießen. Unsere fairen Monatstarife ermöglichen es dir, den sensationellen Sportwagen deiner Träume Tag für Tag zu erleben, ohne finanzielle Bedenken. Jetzt <a href="index.htm">Fahrzeug anfragen!</a> und den Fahrspaß genießen!</p>
						<h3 style="text-align: left;">Komfort und Sicherheit bei der Langzeitmiete eines Sportwagens.</h3>
						<p>Bei KO Performance Cars GmbH, Ihrem Experten für Luxuswagenvermietung, erfolgt Ihre Buchung schnell und unkompliziert. Unsere effizienten Systeme und langjährige Erfahrung in der Langzeitmiete von Sportwagen gewährleisten einen reibungslosen Ablauf, damit Sie schon bald das Auto Ihrer Träume genießen können.</p>
						<p>Für hochwertige Fahrzeuge wie diejenigen, die Sie über unsere Langzeitmiete von Sportwagen erhalten können, ist eine Vollkaskoversicherung unerlässlich. Daher ist diese bereits in Ihrer Buchung enthalten, damit Sie sorglos unterwegs sein können.</p>
						<h2 style="text-align: left;">Interesse? Kontaktiere uns!</h2>
						<p>Treten Sie einfach mit uns in <a href="kontakt.html">Kontakt</a>, und schon bald haben Sie die Möglichkeit, selbst hinter dem Steuer eines Luxussportwagens Platz zu nehmen!</p>
					</div>
					<style>
						header {
							height:auto !important;
						}
						#booking-form {
							background: url(files/dcrent/images/m8.png) center bottom / cover !important;
						}
					</style>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="inside">
			<div class="flex-container">
				<div class="cl3">
					<p style="margin-bottom:30px;"><img src="files/dcrent/images/logo_v1_ko.jpg" style="width:75%;"></p>
					KO Performance Cars GmbH » 2024

					<div class="pe-richsnippets"></div>

				</div>

				<div class="cl3">
					<h3>ÜBERSICHT</h3>
					<ul>
						<li><a href="index.htm">Home<a></li>
						<li><a href="fahrzeuge.html">Fahrzeuge</a></li>
						<li><a href="datenschutz.html">Langzeitmiete</a></li>
						<li><a href="kontakt.html">Kontakt</a></li>
					</ul>
				</div>
				<div class="cl3">
					<h3>RECHTLICHES</h3>
					<ul>
						<li><a href="kontakt.html">Kontaktformular<a></li>
						<li><a href="mietinformationen.html">Mietinformationen</a></li>
						<li><a href="datenschutz.html">Datenschutz</a></li>
						<li><a href="impressum.html">Impressum</a></li>
					</ul>
				</div>
				<div class="c13">
					<h3>KONTAKT</h3>
					<p>
						<a href="tel:+4912345678910" onclick="gtag('event', 'call');fbq('track', 'Contact');"><i class="fa fa-phone"></i> +49 (0)1234 56 78 910</a>
					</p>
					<p>
						<a href="https://wa.me/4912345678910"><i class="fa fa-whatsapp"></i> +49 (0)1234 56 78 910</a>
					</p>
					<p><a href="mailto:info@koperformancecarsgmbh.de"><i class="fa fa-envelope"></i> info@koperformancecarsgmbh.de</a></p>
				</div>
			</div>
		</div>
	</footer>
</div>
<script>setTimeout(function(){var e=function(e,t){try{var n=new XMLHttpRequest}catch(r){return}n.open("GET",e,!0),n.onreadystatechange=function(){this.readyState==4&&this.status==200&&typeof t=="function"&&t(this.responseText)},n.send()},t="system/cron/cron.";e(t+"txt",function(n){parseInt(n||0)<Math.round(+(new Date)/1e3)-86400&&e(t+"php")})},5e3);</script>
<script src="files/dcrent/functions.js?v=2" defer=""></script>
<script>
	const elem = document.getElementById('activatejs');
	elem.style.display = 'none';
	$('#mobile-menu-button').click(function(){$('nav').slideToggle(200)})
</script>
</body>
</html>